@font-face {
    font-family: 'DunggeunmisoB';
    src: url('../../assets/fonts/DunggeunmisoTTFB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DunggeunmisoR';
    src: url('../../assets/fonts/DunggeunmisoTTFR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900; /* 가변 범위 */
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../../assets/fonts/JetBrainsMono.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
