@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    font-family: 'pretendard', sans-serif;
    @apply text-stone-800 select-none;
}

@layer components {
    .gradient-ring {
        position: relative;
        background: linear-gradient(to right, blue 50%, green 50%);
        padding: 2px;
    }
    .gradient-ring::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: white;
        border-radius: inherit;
        z-index: -1;
    }
}

/* error */
.error {
    @apply text-orange-400 font-bold my-1 ml-1 px-1 text-lg bg-transparent h-fit bg-white
}
